{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}
{% block head %} {{ csrf_token('authenticate') }} {% endblock %}
{% block article %}
    <div id="app"> <Vue-Login> </div>
{% endblock %}
