{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block header %}

<div id="app_prueba" v-cloak>
    <Prueba/>
</div>


{% endblock %}

{% block javascripts %}
{% endblock %}