<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Controlador base{% endblock %}</title>
        {% block head %}
            {# Vas a poner el csfr token aqui y se lo vas a inyectar a Vue.js
            https://stackoverflow.com/questions/41409893/csrf-token-in-vue-component #}
        {% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}
        

        {% block javascripts %} {% endblock %}
    </head>
    
    <body>
        <header id="app_header">
        {% block header %}
            {# Si esta logeado ve otras cosas.
            Mandamos el parametro a Vue con v-bind 
            Podría usar isAuthenticated y pasar true o false
            Y ya en el componente si es true pillar el usuario
            con una peticion al back #}
            {{ (is_granted('ROLE_USER')) ? '<vue-header user-role="user"/>' : '<vue-header user-role="none"/>' }}
        {% endblock %}
        </header>
        <article>
        {% block article %}{% endblock %}
        </article>
        <footer>
        {% block footer %}
            <div id="app_footer"> <Vue-Footer></div>
        {% endblock %}
        </footer>
        {{ encore_entry_script_tags('main') }}
    </body>

</html>
