{% extends 'base.html.twig' %}

{% block title %} Ciudades {% endblock %}

{% block header %}
    <div id="app_header"> <Vue-Header></div>
{% endblock %}

{% block article %}
    <div id="app_article"> <Vue-Article></div>
{% endblock %}

{% block footer %}
<div id="app_footer"> <Vue-Footer></div>
{% endblock %}
