{% extends 'base.html.twig' %}

{% block title %} Ciudades {% endblock %}

{% block header %}
    <div id="app_header"> <Header1></div>
{% endblock %}

{% block article %}
    <div id="app_article"> <Article1></div>
{% endblock %}

{% block footer %}
<div id="app_footer"> <Footer1></div>
{% endblock %}
